<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Öğrenci Yönetim Sistemi</title>

    <!-- vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/rickshaw/rickshaw.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../lib/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Starlight CSS -->
    <link rel="stylesheet" href="../css/starlight.css">
  </head>

  <body>

  <!-- left panel gelecek -->
  <div th:include="layoutMenu::menu"> </div>

<div th:include="layoutHeader::header"> </div>
   

    <!-- ########## START: MAIN PANEL ########## -->
    <div class="sl-mainpanel">
      <nav class="breadcrumb sl-breadcrumb">
        <a class="breadcrumb-item" href="index.html">Öğrenci Yönetim Sistemi</a>
        <span class="breadcrumb-item active">Anasayfa</span>
      </nav>

     <!-- sl-pagebody -->
     
     
     
     <div class="sl-pagebody">
        <div class="sl-page-title">
          <h5>Kullanıcılar</h5>
          <p>Bu ekranda kullanıcı ile ilgili işlemlerinizi yapabilirsiniz</p>
        </div><!-- sl-page-title -->

        <div class="col-sm-6 col-md-3">
        <button class="btn btn-outline-primary btn-block mg-b-10" onclick="yenikullaniciEkle()">Kullanıcı Ekle</button>
        </div>

        <div class="card pd-20 pd-sm-40 mg-t-50">
          <div class="table-wrapper">
            <div id="datatable2_wrapper" class="dataTables_wrapper no-footer"><table id="datatablekullanicilar" class="table display responsive nowrap dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable2_info" style="width: 1160px;">
              <thead>
                <tr>
					<th>Kullanıcı Id</th>
					<th>Kullanıcı Adı</th>
					<th>Adı</th>
					<th>Soyadı</th>
					<th>Telefon</th>
					<th>Mail</th>
					<th>Adres</th>
					<th>Rol</th>
					<th>Şifre</th>
					<th>İşlemler</th>
					</tr>
                 </thead>
             
             </table></div>
          </div><!-- table-wrapper -->
        </div><!-- card -->
      </div>
     
     
       <!-- BASIC MODAL -->
    <div id="modalkullanici" class="modal fade">
  
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content tx-size-sm">
          <div class="modal-header pd-x-20">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Kullanıcı Ekle</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-25">
          
            <form class="row g-3">
  				<div class="col-md-6">
    				<label for="inputEmail4" class="form-label">Adı</label>
    				<input type="text" class="form-control" id="adi">
  				</div>
  				<div class="col-md-6">
    				<label for="inputPassword4" class="form-label">Soyadı</label>
    				<input type="text" class="form-control" id="soyadi">
  				</div>
  				<div class="col-md-6">
    				<label for="inputPassword4" class="form-label">Kullanıcı adı</label>
    				<input type="text" class="form-control" id="kullaniciadi">
  				</div>
  				<div class="col-md-6">
    				<label for="inputPassword4" class="form-label">E-mail</label>
    				<input type="email" class="form-control" id="mail">
  				</div>
  				<div class="col-md-6">
    				<label for="inputAddress" class="form-label">Adres</label>
    				<input type="text" class="form-control" id="adres">
  				</div>
  				<div class="col-md-6">
    				<label for="inputAddress2" class="form-label">Telefon</label>
    				<input type="text" class="form-control" id="telefon">
  				</div>
  				<div class="col-md-6">
    				<label for="inputCity" class="form-label">Branş</label>
    				<select id="brans" name="brans" class="form-control">
						<option value="" selected disabled hidden>Seçiniz...</option>
						<option value="1">Bilişim</option>
						<option value="2">Edebiyat</option>
						<option value="3">Fen</option>
					</select>
  				</div>
  				<div class="col-md-6">
    				<label for="inputCity" class="form-label">Rol</label>
    				<select id="rol" name="rol" class="form-control">
						<option value="" selected disabled hidden>Seçiniz...</option>
						<option value="1">Admin</option>
						<option value="2">Öğrenci</option>
						<option value="3">Öğretmen</option>
						<option value="4">Personel</option>
					</select>
  				</div>
                <div class="col-md-6">
    				<label for="inputCity" class="form-label">Şifre</label>
    				<input type="text" class="form-control" id="sifre">
  				</div>
  				<div class="col-md-6">
    				<label for="inputCity" class="form-label">Şifre Tekrar</label>
    				<input type="password" class="form-control" id="sifretekrar">
  				</div>
			</form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success pd-x-20" id="kaydetbutton" onclick="eklekullanici()">Kaydet</button>
            <button type="button" class="btn btn-warning pd-x-20" id="guncellebutton" onclick="guncellekullanici()">Guncelle</button>
            <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal">İptal</button>
          </div>
        </div>
      </div><!-- modal-dialog -->
    </div><!-- modal -->
      
      
  <div th:include="layoutFooter::footer"> </div>
      
      
      
    </div><!-- sl-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->


    <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
    <script src="../lib/d3/d3.js"></script>
    <script src="../lib/rickshaw/rickshaw.min.js"></script>
    <script src="../lib/chart.js/Chart.js"></script>
    <script src="../lib/Flot/jquery.flot.js"></script>
    <script src="../lib/Flot/jquery.flot.pie.js"></script>
    <script src="../lib/Flot/jquery.flot.resize.js"></script>
    <script src="../lib/flot-spline/jquery.flot.spline.js"></script>

    <script src="../js/starlight.js"></script>
    <script src="../js/ResizeSensor.js"></script>
    <script src="../js/dashboard.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
      
    <script src="../lib/highlightjs/highlight.pack.js"></script>
    <script src="../lib/datatables/jquery.dataTables.js"></script>
    <script src="../lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>
	<script src="../custom/kullanicilar.js"></script>
	
  </body>
</html>
